.node {
  width: 25px;
  height: 25px;
  outline: 1px solid rgba(25, 120, 161, 0.349);
  display: inline-block;
}

.node-finish {
  background-color: red;
}

.node-start {
  background-color: green;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(61, 251, 255, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(249, 142, 98, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(54, 68, 92, 0.63);
  }
}

.node-wall {
  background-color: rgb(12, 53, 71);
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(243, 99, 98);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(40, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: rgb(243, 99, 98);
  }
}
